body{
  background-color: #F0EBE3;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 10px;
  width: 5%;
}
a:link{
  color:black;
  }
a:visited{
  color:black;
}
h1{
  color: grey;
}
p{
  color: grey;
  font-weight: bold;
  font-size: 18px;
  font
}
td{
  text-align: left;
}

